body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --spacing-micro: 6px;
  --spacing-xs: 10px;
  --spacing-sm: 16px;
  --spacing-md: 26px;
  --spacing-lg: 42px;
  --spacing-xl: 68px;

  --color-off-white: #fcfcfc;
  --color-off-black: #0c0c0c;

  --color-gray-lightest: #ececec;
  --color-gray-lighter: #cccccc;
  --color-gray-light: #acacac;
  --color-gray: #8c8c8c;
  --color-gray-dark: #6c6c6c;
  --color-gray-darker: #4c4c4c;
  --color-gray-darkest: #2c2c2c;

  --color-accent-lightest: #0cec0c;
  --color-accent-lighter: #0ccc0c;
  --color-accent-light: #0cac0c;
  --color-accent: #0c8c0c;
  --color-accent-dark: #0c6c0c;
  --color-accent-darker: #0c4c0c;
  --color-accent-darkest: #0c2c0c;
}
