.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: var(--spacing-sm);
}

.editor,
.preview {
  display: block;
  border: 1px solid var(--color-gray-lighter);
  background-color: white;
  width: 95%;
  height: 45%;
  padding: var(--spacing-sm);
}
