/* .focusable {
  position: relative;
}

.focusable::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 0px solid var(--color-accent-dark);
  transform: scale3d(1.05, 1.05, 1);
}

.focusable:focus {
  outline: none;
}

.focusable:focus::after {
  border-width: 2px;
  transform: scale3d(1, 1, 1);
} */

.focusable {
  outline: none;
}

:global(.tactical-focus) .focusable:focus-visible {
  outline: 4px solid var(--color-accent-dark);
  outline-offset: 4px;
}
